.fondologin{
    background-color: #111D12!important;
}

.navbar{
--background: #18546a;

}
.m{
    float: initial;
    position: absolute;
    width: 98%; 
    height: 0px; 
  
    border-left: 100px solid #428bca;
    border-top: 50px solid #f0ad4e;
    border-bottom: 50px solid #d9534f;
}


.modulo2{
    
    background: white;
}


.Eventos :hover{
    background: red;
    ion-card-content{
        background: red;
    }
    .RedesSociales{
        position:absolute;
       
    }
   
}