<ion-header>
  <ion-toolbar>
    <ion-title>Preguntas y Respuestas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="formUsuarios.nombre" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Apellidos</ion-label>
        <ion-input [(ngModel)]="formUsuarios.apellidos" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Escuela</ion-label>
        <ion-input [(ngModel)]="formUsuarios.escuela" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Carrera</ion-label>
        <ion-input [(ngModel)]="formUsuarios.carrera" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Comentarios</ion-label>
        <ion-input [(ngModel)]="formUsuarios.comentarios" type="text" required>
        </ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button (click)="formSubmit()" color="primary" shape="full" expand="block">Enviar</ion-button>
        </ion-col>
      </ion-row>
  </ion-list>
</ion-content>