<ion-header>
  <ion-toolbar>
    <ion-title>Preguntas y Respuestas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Por favor Llene los siguientes campos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Apellidos</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Escuela</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Carrera</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Comentarios</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>

      <div class="ion-padding">
        <ion-button expand="block" type="submit" class="ion-no-margin">Enviar</ion-button>
      </div>

    </ion-card-content>
  </ion-card>
</ion-content>
