<ion-header [translucent]="true">
  <ion-toolbar class="navbar">
    <ion-title>
      Desarrollo de Negocios
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
<ion-toolbar>
  <ion-title size="large">Blank</ion-title>
</ion-toolbar>
</ion-header>
<ion-content>
  <ion-content class="card-background-page">

    <ion-grid>
      <ion-row>
        <ion-col col-12><img src="../assets/GiftUTTT2.gif"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12><img src="../assets/banner.png"></ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row style="background-color: #2D7BAF;">
        <ion-col>
          <h2 style="text-align: center; color: white;">Desarrollo de negocios Area Logistica</h2>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col col-6>
          <ion-card>
            <img src="/assets/Logistica.png"/>
            <ion-card-content>
              <ion-card-title>
                -TSU Logística Área Transporte Terrestre
                </ion-card-title>
              <p>
                -Licenciatura en Diseño y Gestión de Redes Logísticas
              </p>             
              <ion-button (click)="abrirModalLTT()">
                <ion-icon slot="start" name="add"></ion-icon>Mostrar mas
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-6>
          <ion-card >
            <img src="/assets/Logistica.png" />
            <ion-card-content>
              <ion-card-title>
                -TSU Logística Área Cadena de Suministros
                </ion-card-title>
              <p>
                -Licenciatura en Diseño y Gestión de Redes Logísticas
              </p>
              <ion-button (click)="abrirModalACS()">
                <ion-icon slot="start" name="add"></ion-icon>Mostrar mas
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        
      </ion-row>
      <ion-row style="background-color: #2D7BAF;">
        <ion-col>
          <h2 style="text-align: center; color: white;">Desarrollo de negocios Area Mercadotecnia</h2>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-card>
            <img src="/assets/icon/mercadotecnia.png"/>
            <ion-card-content>
              <ion-card-title>
                -TSU Desarrollo de Negocios Área Ventas
                </ion-card-title>
              <p>
                -Licenciatura Innovación de Negocios y Mercadotecnia
              </p>
              <ion-button (click)="abrirModalINM()">
                <ion-icon slot="start" name="add"></ion-icon>Mostrar mas
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-6>
          <ion-card>
            <img src="/assets/icon/mercadotecnia.png"/>
            <ion-card-content>
              <ion-card-title>
                -TSU Desarrollo de Negocios Área Mercadoctecnia
                </ion-card-title>
              <p>
                -Licenciatura Innovación de Negocios y Mercadotecnia
              </p>             
              <ion-button (click)="abrirModalNAM()">
                <ion-icon slot="start" name="add"></ion-icon>Mostrar mas
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-content>
</ion-content>