.navbar{
    --background: linear-gradient(90deg, #4ada3d 0%, #4d71d7 100%);
  }
  .barraLateral{
  background-image:url(https://i.pinimg.com/originals/b0/c1/3c/b0c13c4b388991acd089840199efc050.gif);
  height: 50px;
  color: white;
  font-size: 22px;
  text-align: center;
  padding-top: 16px
  }