<ion-header>
  <ion-toolbar class="navbar">
    <ion-title>Administracion Area Capital Humano</ion-title>
    <ion-buttons slot="end">
      <ion-button  style="color: red;" (click)="closeModal()">
        <ion-icon name="close-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content class="card-background-page">

    <ion-grid>
      <ion-row>
        <ion-col col-12><img src="http://www.uttt.edu.mx/img/UT/Capital.jpg"></ion-col>
      </ion-row>
    </ion-grid>
</ion-content>