<ion-header>
  <ion-toolbar class="navbar">
    <ion-fab-button start size="small" class="arrow">
      <ion-icon (click)="CerrarModal()" name="arrow-back"></ion-icon>
    </ion-fab-button>
<ion-title>
</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <div style="align-content: center; text-align: center;">
    <ion-card>
      <img src="assets/icon/uttt3.jpg"/>
      <ion-card-header>
        <ion-card-subtitle><h3>Extranjeros realizarán estancia académica en la UTTT</h3></ion-card-subtitle>
        <ion-card-title>21 de enero de 2020</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Como parte de la vinculación internacional que mantiene la Universidad Tecnológica de Tula-Tepeji (UTTT) con instituciones de otras naciones, seis alumnas y alumnos provenientes de Argentina, Colombia y Francia, se integrarán a esta casa de estudios durante el cuatrimestre Enero-Abril 2020, para realizar una estancia académica.

De esta forma, Mary Luz Peralta Cuadrado y Eduardo Enrique Roa Ibarra, procedentes de la Universidad de Córdoba, Colombia, cursarán en la UTTT materias de la Ingeniería en Financiera y Fiscal, y las Licenciaturas en Diseño y Gestión de Redes Logísticas y Gestión de Negocios y Proyectos.

Giuliana Dellamaggiore, de la Universidad Nacional de Villa María, Argentina, cursará asignaturas de la Lic. en Gestión de Negocios y Proyectos.

Por su parte Liliana Andrea Quintero, alumna de la Universidad Libre de Colombia, estudiará en la Ingeniería Ambiental.

En tanto Sebastián Gastón Dadda, de la Universidad Nacional de Cuyo, Argentina, apoyado por la UTTT efectuará una estadía en una empresa de la región de Tula.

Y Adrián Broussy Garrido, procedente del IUT Evry-Val-D’Essonnne Évry, Francia, que cursará un cuatrimestre académico en el programa educativo de Técnico Superior Universitario en Energías Renovables y posteriormente realizará estadía en una empresa de esta zona hidalguense.

Todos ellos recibieron una cordial bienvenida por parte de la Dra. Irasema Linares Medina, rectora de esta casa de estudios, quien los invitó a aprovechar esta movilidad internacional que les permitirá ampliar sus perspectivas profesionales.

logotipo gob.mx
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
