<ion-header>
  <ion-toolbar class="navbar">
      <ion-fab-button start size="small" class="arrow">
        <ion-icon (click)="CerrarModal()" name="arrow-back"></ion-icon>
      </ion-fab-button>
  <ion-title>
  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="align-content: center; text-align: center;">
    <ion-card>
      <img src="assets/icon/uttt4.jpg"/>
      <ion-card-header>
        <ion-card-subtitle><h3>Alumnado de UTTT presentó proyectos en exposición comercial</h3></ion-card-subtitle>
        <ion-card-title>5 de diciembre de 2019</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Alumnado del 4to. cuatrimestre del programa educativo de Desarrollo de Negocios de la Universidad Tecnológica de Tula-Tepeji (UTTT), realizó la Expo Merx 2019, exposición comercial que anualmente se realiza en la institución desde hace 18 años.

Expo Merx es una actividad donde las y los alumnos de esa academia muestran sus proyectos y propuestas de productos innovadores en diferentes rubros como el ecológico, alimenticio, manufactura o de bienes y servicios.
<img src="assets/icon/noti4.jpg"/>
En esta ocasión la actividad tuvo la finalidad de seleccionar a los mejores proyectos que serán enviados a participar en el concurso nacional “ANTAD y Alimentaria México 2020”, que realizará la Asociación Nacional de Tiendas de Autoservicio y Departamentales (ANTAD) del 31 de marzo al 2 de abril del próximo año, en la ciudad de Guadalajara, Jalisco.

De 35 propuestas que se presentaron en este foro, fueron seleccionados para participar en el Concurso ANTAD 2020 los proyectos: Ecomeik, Iluminium, Axminel, Mascarilla Harubell, Pequines mexicanos, Shope canine, Jairixdi-refigerador, Ecodrops, Prally y Chiltenaji. En ese sentido, los estudiantes llevaron a la práctica los conocimientos adquiridos en aula para crear sus productos.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
