.navbar{
    --background: linear-gradient(90deg, #4ada3d 0%, #4d71d7 100%);
    --color: #ffffff;
  }

  .arrow{
    //--background: #084866;
    --background: linear-gradient(90deg, #4ada3d 0%, #4d71d7 100%);
    --color: #ffffff;
  }