<ion-header>
  <ion-toolbar class="navbar">
    <ion-fab-button start size="small" class="arrow">
      <ion-icon (click)="CerrarModal()" name="arrow-back"></ion-icon>
    </ion-fab-button>
<ion-title>
</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <div style="align-content: center; text-align: center;">
    <ion-card>
      <img src="assets/icon/noti2.jpg"/>
      <ion-card-header>
        <ion-card-subtitle><h3>Alumnas de UTTT obtienen 2do. lugar en concurso nacional</h3></ion-card-subtitle>
        <ion-card-title>04 de marzo de 2020</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Alumnas de la carrera de Desarrollo de Negocios, área mercadotecnia, de la Universidad Tecnológica de Tula-Tepeji (UTTT), lograron un segundo lugar en la categoría de Mercancías Generales en el concurso Reto ANTAD Emprendedor 2020 que organiza la Asociación Nacional de Tiendas de Autoservicio y Departamentales (ANTAD).

De esta manera Sheccid Ariadne García Mejía y Karelly Aparicio Montufa, quienes cursan el 5to. cuatrimestre del mencionado programa educativo, participaron con el proyecto denominado “Tlali”, el cual contempla la producción y elaboración de una maceta biodegradable, creada a partir de aserrín, hojarasca y fibra de coco (compuestos degradables y compostables), dentro de la cual se incluye un paquete de semillas (hierbas de olor, hortalizas o flores) y tierra.
<img src="assets/icon/uttt2.jpg"/>
La maceta evita los problemas de trasplante porque se puede hacer sin necesidad de sacar la planta de la maceta, y al ser biodegradable las raíces pueden atravesarla sin problemas.

A finales de marzo de este año se llevará a cabo la Expo ANTAD Alimentaria 2020 en Guadalajara, Jalisco, la Expo del sector retail más grande de Latinoamérica, donde las alumnas de la UTTT recibirán de manera formal la premiación como ganadoras del Reto ANTAD 2020.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>