<ion-header [translucent]="true">
  <ion-toolbar class="navbar">
    <ion-title>
      Inicio
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
<ion-toolbar>
  <ion-title size="large">Blank</ion-title>
</ion-toolbar>
</ion-header>

<div id="container"> 
   

<div class="Menu2">
  <img src="../assets/GiftUTTT2.gif">
</div>
<div>
  <div class="action-button">
    <ion-button (click)="guardar()">
      <ion-icon slot="start" name="add"></ion-icon>Add Branch
    </ion-button>
  </div>
</div>
  <div class="action-button">
    <ion-button (click)="guardar()">
      <ion-icon slot="start" name="add"></ion-icon>Hola como estas
    </ion-button>
  </div>
</div>

div style="text-align: center;">
 <h1><strong>Noticias</strong></h1>
</div>
<div style="align-content: center; text-align: center;">
  <ion-card>
    <img src="assets/icon/uttt1.jpg"/>
    <ion-card-header>
      <ion-card-subtitle><h3>Implementa UTTT acciones de prevención sanitarias</h3></ion-card-subtitle>
      <ion-card-title>17 de marzo de 2020</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Como parte de las estrategias que se implementan en el sector educativo de Hidalgo, en la Universidad Tecnológica de Tula-Tepeji (UTTT), se llevan a cabo acciones...
    </ion-card-content>
    <ion-button expand="block" (click)="AbrirNoticia1()" color="primary">Mostrar más</ion-button>
  </ion-card>

  <ion-card>
    <img src="assets/icon/uttt2.jpg"/>
    <ion-card-header>
      <ion-card-subtitle><h3>Alumnas de UTTT obtienen 2do. lugar en concurso nacional</h3></ion-card-subtitle>
      <ion-card-title>04 de marzo de 2020</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Alumnas de la carrera de Desarrollo de Negocios, área mercadotecnia, de la Universidad Tecnológica de Tula-Tepeji ....
    </ion-card-content>
    <ion-button expand="block" (click)="AbrirNoticia2()" color="primary">Mostrar más</ion-button>
  </ion-card>

  <ion-card>
    <img src="assets/icon/uttt3.jpg"/>
    <ion-card-header>
      <ion-card-subtitle><h3>Extranjeros realizarán estancia académica en la UTTT</h3></ion-card-subtitle>
      <ion-card-title>21 de enero de 2020</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Como parte de la vinculación internacional que mantiene Tecnológica de Tula-Tepeji con instituciones de otras naciones ...
    </ion-card-content>
    <ion-button expand="block" (click)="AbrirNoticia3()" color="primary">Mostrar más</ion-button>
  </ion-card>

  <ion-card>
    <img src="assets/icon/uttt4.jpg"/>
    <ion-card-header>
      <ion-card-subtitle><h3>Alumnado de UTTT presentó proyectos en exposición comercial</h3></ion-card-subtitle>
      <ion-card-title>5 de diciembre de 2019</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Como parte de la vinculación internacional que mantiene Tecnológica de Tula-Tepeji con instituciones de otras naciones ...
    </ion-card-content>
    <ion-button expand="block" (click)="AbrirNoticia4()" color="primary">Mostrar más</ion-button>
  </ion-card>
</div>

</ion-content>