<ion-header [translucent]="true">
  <ion-toolbar class="navbar">
    <ion-title style="color: white;">
    <strong>Universidad Tecnologica de Tula Tepeji</strong>
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu" style="color: white;"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
<ion-toolbar>
  <ion-title size="large">Blank</ion-title>
</ion-toolbar>
</ion-header>
<ion-content>
  <ion-content class="card-background-page">

    <ion-grid>
      <ion-row>
        <ion-col col-12><img src="../assets/GiftUTTT2.gif"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12><img src="../assets/banner.png"></ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row style="background-color: #2D7BAF;">
        <ion-col col-6>
          <h2 style="text-align: center; color: white;">Programas Educativos</h2>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="rejilla">
      <ion-row>
        <ion-col>
          <ion-card style="width: 290px; height: 290px;">
            <img src="/assets/energias.png" height="180" width="300" alt=""/>
            <ion-card-content>
              <ion-card-title>
                Energias renovables
                </ion-card-title>
              <p>
                Universidad Tecnologica de Tula Tepeji
              </p>             
              <ion-button routerLink="/energias">
                <ion-icon slot="start" name="add"></ion-icon>Mostrar mas
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card style="width: 290px; height: 290px;">
            <img src="/assets/software.PNG" height="150" width="300"/>
            <ion-card-content>
              <ion-card-title>
                Tecnologias de la Información
                </ion-card-title>
              <p>
                Universidad Tecnologica de Tula Tepeji
              </p>
              <ion-button (click)="abrirModal()">
                <ion-icon slot="start" name="add"></ion-icon>Mostrar mas
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card style="width: 290px; height: 290px;">
            <img src="/assets/meca-intro.png" height="180" width="300"/>
            <ion-card-content>
              <ion-card-title>
                Mecatrónica
                </ion-card-title>
              <p>
                Universidad Tecnologica de Tula Tepeji
              </p>             
              <ion-button routerLink="/mecatronica">
                <ion-icon slot="start" name="add"></ion-icon>Mostrar mas
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card style="width: 290px; height: 290px;">
            <img src="/assets/icon/Mantenimiento.png"/>
            <ion-card-content>
              <ion-card-title>
                Mantenimiento Industrial
                </ion-card-title>
              <p>
                Universidad Tecnologica de Tula Tepeji
              </p>             
              <ion-button routerLink="/mantenimiento" >
                <ion-icon slot="start" name="add"></ion-icon>Mostrar mas
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card style="width: 290px; height: 290px;">
            <img src="/assets/conta.png" height="180" width="300" alt=""/>
            <ion-card-content>
              <ion-card-title>
                Contaduría
                </ion-card-title>
              <p>
                Universidad Tecnologica de Tula Tepeji
              </p>
              <ion-button routerLink="/menuconta">
                <ion-icon slot="start" name="add"></ion-icon>Mostrar mas
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card style="width: 290px; height: 290px;">
            <img src="/assets/icon/mercadotecnia.png"/>
            <ion-card-content>
              <ion-card-title>
                Desarrollo de Negocios
                </ion-card-title>
              <p>
                Universidad Tecnologica de Tula Tepeji
              </p>             
              <ion-button routerLink="/desarollode-negocios">
                <ion-icon slot="start" name="add"></ion-icon>Mostrar mas
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card style="width: 290px; height: 290px;">
            <img src="/assets/manufactura.PNG" height="180" width="300"/>
            <ion-card-content>
              <ion-card-title>
                Procesos Industriales
                </ion-card-title>
              <p>
                Universidad Tecnologica de Tula Tepeji
              </p>             
              <ion-button (click)="abrirModal()">
                <ion-icon slot="start" name="add"></ion-icon>Mostrar mas
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card style="width: 290px; height: 290px;">
            <img src="/assets/quimica.PNG" height="180" width="300"/>
            <ion-card-content>
              <ion-card-title>
                Química
                </ion-card-title>
              <p>
                Tecnologica de Tula Tepeji
              </p>
              <ion-button (click)="abrirModal()">
                <ion-icon slot="start" name="add"></ion-icon>Mostrar mas
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      
    </ion-grid>
  </ion-content>

</ion-content>
