<ion-header>
  <ion-toolbar class="navbar">
    <ion-fab-button start size="small" class="arrow">
      <ion-icon (click)="CerrarModal()" name="arrow-back"></ion-icon>
    </ion-fab-button>
<ion-title>
</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <div style="align-content: center; text-align: center;">
    <ion-card>
      <img src="assets/icon/uttt1.jpg"/>
      <ion-card-header>
        <ion-card-subtitle><h3>Implementa UTTT acciones de prevención sanitarias</h3></ion-card-subtitle>
        <ion-card-title>17 de marzo de 2020</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Como parte de las estrategias que se implementan en el sector educativo de Hidalgo, en la Universidad Tecnológica de Tula-Tepeji (UTTT), se llevan a cabo acciones orientadas a prevenir el contagio por Coronavirus COVID-19 entre su comunidad universitaria.>

En ese sentido se aplica el filtro escolar al ingreso del alumnado a la institución y en cada edificio de carrera, donde se brinda solución a base de alcohol gel al 70% y se refrenda la difusión mediante carteles sobre las formas de transmisión, síntomas, recomendaciones y medidas de prevención para combatir el COVID-19. Este mismo filtro se aplicará en las áreas de oficina, especialmente en los espacios donde se brinda atención al público. También se canalizan al área de Servicio médico institucional a cualquier persona que muestra algún síntoma de infección respiratoria para su evaluación, quienes hasta el momento presentan resfriados comunes y algunas faringitis.
<img src="assets/icon/noti1.jpg"/>
En ese marco la rectora de la institución, Irasema Linares Medina, encabezó la instalación del Comisión de Salud de esta casa de estudios, que coordinará las actividades y medidas de prevención sanitarias, entre ellas: coadyuvar en la higiene escolar, comunicar permanentemente a la comunidad universitaria las medidas sanitarias que correspondan y apoyar el filtro escolar.

También se refuerzan las recomendaciones hechas por el sector salud, acerca de evitar el saludo de mano y beso, cubrirse la boca con el antebrazo al toser, lavado frecuente de manos y no compartir alimentos, bebidas, vasos y cubiertos, etc. En ese contexto cada dos horas se invita a la comunidad universitaria a lavarse las manos.

De manera constante, personal del área de servicios generales realizará la limpieza y desinfección de áreas y aulas en edificios de la institución.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
